#topMenu{
    height: 40px;
    width: 1000px;
}

#topMenu ul li{
    list-style: none;
    color: white;
    background-color: green;
    float: left;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
}

#topMenu.menuLink{
    text-decoration:none;
    color: white; 
    display: block;
    width: 150px;
    font-size: 12px;
    font-weight: bold;
    font-family: "Trebuchet MS", Dotum, Arial;
}

#topMenu .menuLink:hover{
    color: rgb(207, 63, 19);
}