
section {
    float: left;
    width: 33%; 
    text-align: center;  
    background-color:rgb(195, 236, 238);
}
article {
    float: left;
    width: 33%;
    text-align: center;  
    background-color: rgb(248, 244, 187);
}
aside {
    float: left;
    width: 33%;
    text-align: center;  
    background-color: rgb(248, 194, 176);
}

footer {

    position: absolute;
    left: 10px;
    
    bottom: 0;
    width: 100%;
	padding: 15px 0;

}

/* section 영역 */

section h4 {
    font-size: 30px;;
}
section p {
    font-size: 20px;
}

/* article 영역 */


article h4 {
    font-size: 30px;
}
article p {
    font-size: 20px;;
}

/* aside 영역 */


aside h4 {
    font-size: 30px;
}

/* footer 영역 */


footer {
    background-color: aquamarine !important;
} 
footer .jumbotron {
    border-bottom: 2px solid;
}
